create-episodes (1).json
{
  "name": "create-episodes",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "fc731387-148e-46d6-af80-c63aa8e4a5d7",
      "name": "Split Video IDs",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        976,
        112
      ]
    },
    {
      "parameters": {
        "mode": "raw",
        "options": {}
      },
      "id": "86997316-3dbb-457d-89e7-150954dd2005",
      "name": "Prepare Episode Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        1200,
        112
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://cms.megaphone.fm/api/networks/1077e5f2-0247-11f0-a50a-770c9b0b9b7b/podcasts/{{ $json.inputData.inputData.body.podcastId }}/episodes",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Token token=\"359a75d62bfb7e0c5214ac2404d04bc4\""
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "summary",
              "value": "={{ $json.summary }}"
            },
            {
              "name": "pubDate",
              "value": "={{ new Date().toISOString() }}"
            },
            {
              "name": "backgroundAudioFileUrl",
              "value": "={{ $json.audioUrl }}"
            },
            {
              "name": "draft",
              "value": "false"
            },
            {
              "name": "backgroundImageFileUrl"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "748de197-aeaa-41c2-9317-e4e3fbc14954",
      "name": "Create Megaphone Episode",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1408,
        112
      ]
    },
    {
      "parameters": {
        "tableId": "episodes"
      },
      "id": "5bbe83a7-81cd-4f1b-92fa-84b37163a7f2",
      "name": "Save Episode to Supabase",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1632,
        112
      ],
      "credentials": {
        "supabaseApi": {
          "id": "28zdZaBvvSjeKk3t",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "7f591b7c-59c5-47b9-b2a1-a42558677f7e",
      "name": "Format Episode Result",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [
        1856,
        112
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "results",
        "include": "selectedFields",
        "options": {}
      },
      "id": "10c61b1b-48ca-4083-a588-409b287a6046",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        2080,
        112
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\n  success: true,\n  results: $json.results,\n  summary: {\n    total: $json.results.length,\n    successful: $json.results.filter(r => r.status === 'created').length,\n    failed: $json.results.filter(r => r.status === 'failed').length\n  },\n  episodesSaved: $json.results.filter(r => r.status === 'created')\n} }}",
        "options": {}
      },
      "id": "6fc1468a-f257-4631-968b-33d8ade0078f",
      "name": "Episodes Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        2288,
        112
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "create-episodes",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "2ae82e23-357c-4493-b03d-e179a0cd4f44",
      "name": "Episodes Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        528,
        112
      ],
      "webhookId": "6b5fa5ba-dd37-4486-979c-0d6864e3ac4d"
    },
    {
      "parameters": {
        "jsCode": "// Extract and prepare video IDs for processing\nconst inputData = $input.first().json;\nconsole.log('Webhook received:', JSON.stringify(inputData, null, 2));\n\nconst videoIds = inputData.videoIds || [];\nconst podcastId = inputData.podcastId;\nconst userId = inputData.userId;\n\nconsole.log('Processing:', { podcastId, videoCount: videoIds.length, userId });\n\nif (!videoIds || videoIds.length === 0) {\n  console.error('No video IDs found in input data');\n  return [{ json: { errorMessage: 'No video IDs provided', inputData } }];\n}\n\n// Return an array where each item represents one video to process\nreturn videoIds.map(videoId => ({\n  json: {\n    videoId,\n    podcastId,\n    userId,\n    timestamp: new Date().toISOString()\n  }\n}));"
      },
      "id": "c525086e-e549-408a-9732-0032e67de9ac",
      "name": "Prepare Video Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        752,
        112
      ]
    }
  ],
  "pinData": {
    "Episodes Webhook": [
      {
        "json": {
          "headers": {
            "host": "n8n-6s78.onrender.com",
            "user-agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36",
            "content-length": "344",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "en-GB,en-US;q=0.9,en;q=0.8",
            "cdn-loop": "cloudflare; loops=1",
            "cf-connecting-ip": "45.119.30.8",
            "cf-ipcountry": "IN",
            "cf-ray": "96621eff79856ec8-PDX",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "content-type": "application/json",
            "origin": "http://localhost:3001",
            "priority": "u=1, i",
            "referer": "http://localhost:3001/",
            "render-proxy-ttl": "4",
            "rndr-id": "fa419f7c-613a-42bc",
            "sec-ch-ua": "\"Not)A;Brand\";v=\"8\", \"Chromium\";v=\"138\", \"Google Chrome\";v=\"138\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"macOS\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "true-client-ip": "45.119.30.8",
            "x-forwarded-for": "45.119.30.8, 172.68.174.182",
            "x-forwarded-proto": "https",
            "x-request-start": "1753682058332015"
          },
          "params": {},
          "query": {},
          "body": {
            "podcastId": "ae8f9087-29f2-43ca-b317-807b09d70872",
            "videoIds": [
              "fJ9zZ98txA0",
              "EcxzZVAuuJg",
              "TSY_rupasDs",
              "IFBXPZPpst0",
              "lSSWVkyyC3Y",
              "qvYprSm3DzE",
              "RJRqLfrYAXk",
              "t_lzcF54jg4",
              "kaa75sT1fzI",
              "LAtcry-dHOc",
              "qudkohq_Omw",
              "ta7IzGVkmYs",
              "PGloKggZT7Y",
              "WhR5q2GJ-4Q",
              "qarL2I6TqlU",
              "N9WNAxvd8xw"
            ],
            "userId": "101811317051754135174",
            "saveToSupabase": true
          },
          "webhookUrl": "https://n8n-6s78.onrender.com/webhook-test/create-episodes",
          "executionMode": "test"
        }
      }
    ]
  },
  "connections": {
    "Split Video IDs": {
      "main": [
        [
          {
            "node": "Prepare Episode Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Video Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Episode Data": {
      "main": [
        [
          {
            "node": "Create Megaphone Episode",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Megaphone Episode": {
      "main": [
        [
          {
            "node": "Save Episode to Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Episode to Supabase": {
      "main": [
        [
          {
            "node": "Format Episode Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Episode Result": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Episodes Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Episodes Webhook": {
      "main": [
        [
          {
            "node": "Prepare Video Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Video Data": {
      "main": [
        [
          {
            "node": "Split Video IDs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "344effe2-4752-41fa-9e52-708276b8687a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "f89b169046ea45cfefd85c0b1bc0854513553ab784be346c3e08a495df9d88b2"
  },
  "id": "Jd7StdWA6NNTDW6F",
  "tags": []
}